*{
    background-color: blueviolet;
}
div{
    background-color: brown;
}
ul{
    background-color: aqua;
}
ol{
    background-color: bisque;
}
img{
    background-color: greenyellow;
}
footer{
    background-color: green;
}
header{
    background-color: green;
}
